/* HomePage.css */

/* Center the content vertically and horizontally */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* At least full viewport height */
  background-color: #f9f9f9; /* Background color for the container */
  text-align: center;
  padding: 20px;
}

/* Large Title */
.large-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333; /* Dark text color */
  margin-bottom: 20px;
}

/* Mission Statement Box */
.mission-box {
  background-color: #fff; /* White background for the box */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  /* margin-bottom: 20px; */
  margin: 300px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.mission-box p {
  font-size: 1.2rem;
  color: #555; /* Slightly darker text color */
}

/* Bordered Text Box */
.bordered-box {
  border: 2px solid #007bff; /* Blue border */
  border-radius: 10px;
  padding: 10px;
}

.bordered-box p {
  font-size: 1.2rem;
  color: #333; /* Dark text color */
}

/* Button */
.button {
  background-color: #007bff; /* Blue button color */
  color: #fff; /* White text color */
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  text-decoration: none; /* Remove underline for links */
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  cursor: pointer;
}
