/* Spartan.css */

/* Container styles */
.spartan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

/* Large Title styles */
.large-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333; /* Choose your desired text color */
}

/* Video Container styles */
.video-container {
  margin-bottom: 2rem;
}

/* Subtitle styles */
.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #555; /* Choose your desired text color */
}

/* Input Box styles */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"],
input[type="name"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc; /* Choose your desired input border color */
  border-radius: 4px;
}

/* Button styles */
.subtitle-steel-blue {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff; /* Button color */
  color: #ffffff; /* Text color */
  border: 1px solid #007bff; /* Button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}

.subtitle-steel-blue:hover {
  background-color: #0056b3; /* Button color on hover */
  border: 1px solid #0056b3; /* Button border on hover */}

/* Textbox Container styles */
.textbox-container {
  margin-top: 2rem;
}

.textbox {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc; /* Choose your desired textbox border color */
  border-radius: 4px;
  resize: none;
  font-size: 1rem;
}

/* Additional styling can be added as needed */
